html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}

.container{
	width: 100%;
	height: 100%;
	display: block;
	
	float: left;
	
	padding: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#display{
	width: 100%;
	height: 200px;
	font-family: tahoma;
	font-size: 25pt;

	color: black;
	background-color: #f0f0f5;
	
	
	display: block;
	float: left;
	
	padding: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
           
	
}

#display2{
	width: 100%;
	height: 100%;
	font-family: tahoma;
	font-size: 25pt;

	color: black;
	background-color: #e0e0eb;
	
	
	display: block;
	float: left;
	
	padding: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
           
	
}

#firstletter_display{
	
	max-width: 180px;
	min-width: 80px;
	height: 180px;
	font-family: tahoma;
	font-size: 3em;

	color: black;
	background-color: green;
	
	
	display: inline;
	float: center;
	
	padding: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}


.firstletter_input{
	max-width: 180px;
	min-width: 80px;
	height: 180px;
	font-family: tahoma;
	font-size: 3em;

	color: black;
	background-color: #ffad33;
	
	
	display: inline;
	float: center;
	
	padding: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}


.secondletter_input{
	max-width: 180px;
	min-width: 80px;
	height: 180px;
	font-family: tahoma;
	font-size: 3em;

	color: black;
	background-color: #f0f0f5;
	
	
	display: inline;
	float: center;
	
	padding: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.thirdletter_input{
		max-width: 180px;
	min-width: 80px;
	height: 180px;
	font-family: tahoma;
	font-size: 3em;

	color: black;
	background-color: #f0f0f5;
	
	
	display: inline;
	float: center;
	
	padding: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.fourthletter_input{
		max-width: 180px;
	min-width: 80px;
	height: 180px;
	font-family: tahoma;
	font-size: 3em;

	color: black;
	background-color: #f0f0f5;
	
	
	display: inline;
	float: center;
	
	padding: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.fifthletter_input{
		max-width: 180px;
	min-width: 80px;
	height: 180px;
	font-family: tahoma;
	font-size: 3em;

	color: black;
	background-color: #f0f0f5;
	
	
	display: inline;
	float: center;
	
	padding: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}



#secondletter_display{
	
}

#thirdletter_display{
	
}

#fourthletter_display{
	
}

#fifthletter_display{
	
}


.startbutton{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
		-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.startbutton-blauw{
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.startbutton-blauw:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}